

.servico-layout {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  
  font-family: sans-serif;
}


.ajudar-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding-bottom: 1rem;
}



/*=====================================
  HEADER
  =====================================*/

/* Estilo para Desktop (Telas grandes) */
.nav-links {
  display: flex;
  flex-direction: row; /* Alinha um ao lado do outro */
  position: static;
  align-items: center; 
  gap: 20px;           /* Espaçamento entre os links */
  list-style: none;    /* Remove as bolinhas da lista, se for <ul> */
  margin: 0;
  padding: 0;




  

/*=========== NAV ===========*/

  /* Exibe o botão hambúrguer */
  

/* Esconde o menu por padrão no celular */
  .nav-links {    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    z-index: 1000;
    margin: 3.5rem 0 1rem 0;
    
  }

  

