/*=====================================================
  RESPONSIVIDADE  - 900 PX
  =====================================================*/

  @media (max-width: 900px) { 

/*=============== SECTION - HEADER ===============*/
  .header-layout { 
    display: flex;    
    gap: 15px;
    padding: .2rem 2rem;   
  }  

  .logo-imagem {
    max-width: 120px;
    min-width: 90px;
  }

  .nav-layout ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;     
  }

  .nav-layout li {
    display: inline-block;
    font-size: 0.85rem;
    min-width: 120px; /* botões ficam + largos no celular */
    text-align: center;
    white-space: nowrap;
    padding: 0.3rem;    
  }

  /* Estilizando links para parecerem botões no celular */
  .nav-layout a {
    display: block;
    width: 100%;
  }
  
.redes-sociais-layout {
    margin-right: 0; /* Remove margem no desktop */
    justify-content: center;
  }




/* Exibe o botão hambúrguer */
  .menu-mobile-btn {
    display: block;
    background: none;
    border: 1px solid var(--branco);
    color: var(--branco);
    font-size: 1.8rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Esconde o menu por padrão no celular */
  .nav-links {
    display: none; 
    position: absolute;
    top: 100%; /* Aparece logo abaixo do header */
    /* left: 0; */
    align-items: center;
    width: 50%;
    background-color: var(--azul-escuro);
    padding: 1rem 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }

  /* Classe que o JS vai ativar */
  .nav-links.active {
    display: block;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .nav-links li { width: 80%; text-align: center; }

  .redes-sociais-layout { margin-right: 0; }

}

/*=====================================================
  RESPONSIVIDADE  - 768 PX
  =====================================================*/

@media (max-width: 768px) {  

/*=============== SECTION - HEADER ===============*/


    
/*=============== SECTION - HOME ===============*/

.home-layout {
    flex-direction: column; /* Empilha foto sobre o texto */
    padding: 25px 5%;  /* respiro maior laterais e topo */
    text-align: center;
    gap: 20px;
  }

  .foto {
    width: 100%;      
    height: auto;  /* Remove altura fixa */
    max-width: 350px; /* Limita tamanho p/ foto não estourar */
    margin: 0 auto;   /* Garante a centralização */
  }

  .foto img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Melhora encaixe da foto no mobile */
  }

  .info-logo {
    padding-top: .3rem;
  }

  .info-pessoais h1 {
    font-size: 1.5rem; 
    margin-top: .8rem;
  }

  .home-btn {
    margin-top: 1rem; /*Reduz espaçamento excessivo no mobile*/
    text-decoration: none;
  }


/*=============== SECTION - SERVICO ===============*/

.card-dificuldade, .card-servico {
  width: 95vw;
}

.card-dificuldade h2 {
  font-size: 1.4rem;
  
}

.card-servico p {
  font-size: 1.2rem;
}

/*=============== SECTION - ANALISE ===============*/

  .analise-layout {
    padding: 30px 15px; /*Aumenta padding superior*/
  }

  .card-analise {
    padding: 50px 20px 20px 20px; /* Reduz o padding interno */
    border-radius: 25px;
    width: 98%;
  }

  .analise-header {
    width: 98%; /* título não ultrapasse largura do card */
    white-space: normal; /* texto do título quebre linha se necessário */
    text-align: center;
    padding: 12px 15px;
    top: -35px; /* Ajusta posição p/ não cobrir conteúdo interno */
  }

  .analise-header h2 {
    font-size: 1.3rem; /* tamanho da fonte do título */
    line-height: 1.2;
  }

  .interatividade {
    width: 90%; /* Quase toda a largura no celular */
    max-width: 650px; /* não passa disso no computador */
    margin: 0 auto;
  }

  .check-item {
    font-size: 1rem; /* Diminui levely o texto dos itens */
    padding-left: 40px; /* Ajusta o recuo para o checkbox */
    margin-bottom: 15px;
  }

  .checkbox-opcao {
    width: 24px; /* levemente menor para acompanhar o texto */
    height: 24px;
  }


/*=============== SECTION - DUVIDAS ===============*/

  .duvidas-layout {
    padding: 40px 15px; /* Reduz respiro vertical da seção */
  }

  .duvidas-layout h2 {
    font-size: 1.5rem; /* pouco menor p/ não quebrar muitas linhas */
    margin-bottom: 25px;
  }

  summary {
    padding: 15px 20px; /* Reduz espaço interno da pergunta */
    font-size: 1rem;    /* Fonte menor para caber melhor */
  }

  .faq-content {
    padding: 0 20px 20px 20px; /* Reduz espaço interno */
    font-size: 0.95rem;  /* Melhora leitura telas pequenas */
  }

  summary::after {
    font-size: 1.2rem; /* Diminui ícone de + */
  }


/*=============== SECTION - AGENDAMENTO ===============*/


  .agendamento-layout h2 {
    padding-bottom: 200px;
  }

  .cards-agendamento {
    margin-top: -180px;
  }


/*=============== SECTION - SOBRE-MIM ===============*/

.sobre-mim-layout {
    display: flex;
    flex-direction: column; /* Força a coluna */
    align-items: center; /* Centraliza itens horizontalmente */
    justify-content: center;
    padding: 40px 20px;
    gap: 0;     /* controlar gap manualmente via margens */
  }

  .foto-wrapper {
    width: 250px;  /* Tamanho fixo/proporcional p/ celular */
    height: 250px;
    margin-right: 0;   /* Remove margens desktop */
    margin-bottom: -50px;   /* Efeito sobreposição no card de texto */
    z-index: 2;     /* a foto fique acima do card */
    margin-top: 0;
  }

  .foto-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30%; /* deixa foto redonda no mobile */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    
  }

  .texto-card {
    width: 100%;
    max-width: 100%;
    padding: 80px 25px 40px 25px; 
    text-align: center;  /* Centraliza todos textos internos */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
  }

  .texto-principal p {
    text-align: center;  /* parágrafos fiquem centralizados */
    font-size: 1rem;
    line-height: 1.6;
  }

  .btn-insta {
    margin-top: 20px;
    width: fit-content; /* Botão se ajusta ao texto e centraliza */
  }
  

  /*=============== WHATSAPP FLUTUANTE ===============*/

  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
    font-size: 35px;
  }

  /*=============== FOOTER ===============*/

  .footer-layout {
    flex-direction: column;
    text-align: center;
  }

  .perfil {
    flex-direction: column;
  }

  .perfil-logo img {
    height: 3.5rem;   
  }

  .contatos {
    text-align: center;
  }

  .item-contato {
    justify-content: center;
  }

}

/*=====================================================
  RESPONSIVIDADE  - 375 PX
  =====================================================*/

@media (max-width: 375px) {  

  .info-texto h2 {
      font-size: 1.5rem;
  }

  .perfil-logo img {
    height: 2.5rem;   
  }


}

