
/*=======================================
  TABLETS - (de 1024px até 768px)
=========================================*/

@media (max-width: 1024px) { }
  

/*=======================================
  CELULARES GRANDES - (de 767px até 480px)
=========================================*/

@media (max-width: 768px) {  

/*=========== HEADER ===========*/

.header-layout { 
    display: flex; 
    position: sticky;
    z-index: 999;   
    gap: 15px;
    padding: .2rem 2rem;  
    
    justify-content: space-between; /* Mantém logo de um lado e botão do outro */
    align-items: center;
    width: 100vw;


  }  

/*=========== LOGO ===========*/

  .logo-layout {}

  .logo-imagem {
    max-width: 120px;
    min-width: 90px;
  }

  .logo-imagem img {}

  /*=========== NAV ===========*/

  .nav-layout {}

  /* Exibe o botão hambúrguer */
  .menu-mobile-btn {
    display: block;
    background: none;
    border: 1px solid var(--white);
    color: var(--white);
    font-size: 1.8rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

/* Esconde o menu por padrão no celular */
  .nav-links {
    display: none; 
    position: absolute;
    top: 100%;


    /* Centralização Horizontal de 50% */
    left: 50%;
    transform: translateX(-50%); 
    width: 50%; 

    z-index: 1000;
    
    background-color: var(--azul-escuro);
    padding: 1.5rem 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);


    /* Evita que o menu seja cortado se o header for pequeno */
    overflow: visible;


  }

  /* Classe que o JS vai ativar */
  .nav-links.active {
    display: block;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
  }  

  .nav-links li {
    width: 85%; /* Os botões internos ocupam quase todo o menu de 50% */
    text-align: center;   
  }

  /* Estilizando links para parecerem botões no celular */
  .nav-links a {
    display: block;
    width: 100%;
  }
  
    
/*=============== HOME ===============*/

.home-layout {
    flex-direction: column;
    padding: 25px 5%;
    text-align: center;
  }

  .foto {    
    height: auto;  /* Remove altura fixa */
    max-width: 350px; /* Limita tamanho p/ foto não estourar */
  }

  .foto img {
    height: auto;
    object-fit: cover; /* Melhora encaixe da foto no mobile */
  }

  .info-logo {
    padding-top: .3rem;
  }

  .info-pessoais h1 {
    font-size: 1.5rem; 
    margin-top: .8rem;
  }

  .home-btn {
    margin-top: 1rem;     
  }


/*============= SERVICO =============*/

.card-servico {
  width: 95vw;
}

.ajudar-layout h3 {
  font-size: 1.8rem;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
}

.card-servico p {
  font-size: 1.2rem;
}

/*============= ANALISE =============*/

  .analise-header {
    width: 98%; 
    white-space: normal; /* texto do título quebre linha se necessário */
    text-align: center;
    padding: 12px 15px;
    top: -35px; /* Ajusta posição p/ não cobrir conteúdo interno */
  }

  .analise-header h2 {
    font-size: 1.3rem;    
  }

  .card-analise {
    padding-left: .8rem;
    border-radius: .5rem;
    width: 99%;
    margin-bottom: 1.5rem;
  }

  .check-item {
    font-size: 1rem; 
    padding-left: 40px; 
    margin-bottom: 15px;
  }

  .checkbox-opcao {
    width: 24px; /* levemente menor para acompanhar o texto */
    height: 24px;
  }

/*============= DUVIDAS =============*/

  .duvidas-layout {
    padding: 40px .2rem; /* Reduz respiro vertical da seção */
  }

  .duvidas-layout h2 {
    font-size: 1.5rem; /* pouco menor p/ não quebrar muitas linhas */
    margin-bottom: 25px;
  }

  .faq-item {
    width: 95%;
    text-align: left;   
  }

  summary {
    padding: 15px 10px; /* Reduz espaço interno da pergunta */
    font-size: 1rem;    /* Fonte menor para caber melhor */
    text-align: center;
  }

  summary::after {
    font-size: 1.4rem; /* Diminui ícone de + */
    
  }

  .faq-content {
    padding: 0 0; /* Reduz espaço interno */
    font-size: 0.95rem;  /* Melhora leitura telas pequenas */
    width: 96%;
  }
  

/*========== TERAPIA =============*/

  .card h3 {
    font-size: 1.6rem;
  }

  
/*============ SOBRE-MIM ============*/

  .sobre-mim-layout {
    display: flex;
    flex-direction: column; /* Força a coluna */
    align-items: center; /* Centraliza itens horizontalmente */
    justify-content: center;
    padding: 3rem 0;
    gap: 0;     /* controlar gap manualmente via margens */
  }

  .foto-wrapper {
    width: 250px;  /* Tamanho fixo/proporcional p/ celular */
    height: 250px;
    margin-right: 0;   /* Remove margens desktop */
    margin-bottom: -50px;   /* Efeito sobreposição no card de texto */
    z-index: 2;     /* a foto fique acima do card */
    margin-top: 0;
  }

  .foto-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30%; /* deixa foto redonda no mobile */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);    
  }

  .texto-card {
    width: 100%;
    max-width: 100%;
    padding: 80px 25px 40px 25px; 
    display: flex;
    flex-direction: column;
  }

  .texto-card h2 {
    font-size: 3rem;
  }

  .texto-principal p {
    text-align: center;  /* parágrafos fiquem centralizados */
    font-size: 1.2rem;
  }

  .btn-insta {
    width: fit-content; /* Botão se ajusta ao texto e centraliza */
  }
  

  /*====== WHATSAPP FLUTUANTE ========*/

  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
    font-size: 35px;
  }

  /*============ FOOTER ==============*/

  .footer-layout {
    flex-direction: column;
    text-align: center;
    padding: 1.5rem 2rem;
  }

  .perfil {
    flex-direction: column;
  }

  .perfil-logo img {
    height: 3.5rem;   
  }

  .info-texto h2 {
    font-size: 1.8rem;
  }

  .contatos {
    text-align: center;
  }

  .chamada {
    font-size: 1rem;
    margin: 1rem 0;
  }

  .item-contato {
    justify-content: center;
    padding-bottom: 2.5rem;
  }

  /* Ajuste Responsivo (opcional, se quiser menor no celular) */
  .back-to-top {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    bottom: 20px;
    left: 20px;
  }

}


/*=======================================
  CELULARES PEQUENOS (Portrait) - (abaixo de 480px)
=========================================*/


@media (max-width: 480px) {  

  .info-texto h2 {
      font-size: 1.5rem;
  }

  .perfil-logo img {
    height: 2.5rem;   
  }

  .chamada {
    font-size: .9rem;
  }


}



@media (max-width: 320px) {  

  .info-texto h2 {
      font-size: 1.5rem;
  }

  .perfil-logo img {
    height: 2.5rem;   
  }

  .chamada {
    font-size: .9rem;
  }

  .card {
    width: 96%;;
  }

}

