
/*=====================================
  HEADER - LOGO - NAV
  =====================================*/

.header-container {
  display: flex;
  width: 100%;
  max-width: 1400px;
  justify-content: space-between;
  align-items: center;
  padding: .3rem 2rem;
  background-color: var(--azul-escuro);
  position: sticky; /* header fixo topo qualquer resolução */
  top: 0;
  z-index: 1100;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  gap: 15px;
  margin: 0 auto;
}

/*=========== LOGO ===========*/

.logo-container { 
  flex-shrink: 0;
}

.logo-imagem img {
  display: block;
  width: 120px;
  height: auto;
}

/*=========== NAV ===========*/

.nav-container {
  display: flex;  
  align-items: center;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;  
  width: 100%;
  padding: 0 1rem; /* padrão que empurra os itens */
  margin: 0;
  list-style: none; 
}

.nav-links li {
  width: auto;
  margin: 0;
  border-color: var(--white);
  color: var(--white);
  border-radius: .5rem;
  box-shadow: 0 0 4px var(--azul-gelo);
  background-color: var(--azul-escuro); 
  transition: all 0.3s;
  padding: 0 1rem;
}

.nav-links li:hover { 
  background-color: var(--white);
}

.nav-links li:hover a {
  color: var(--azul-escuro);
}

.nav-links a {  
  display: block; /* faz link ocupar largura toda do LI */
  width: 100%;
  text-align: center;  
  text-decoration: none;
  color: var(--white);
  display: block;
  font-size: .9rem;
  font-weight: 550;
  letter-spacing: .1rem; 
  padding: .2rem 0;
}

.menu-mobile-btn {
  display: none; /* Esconde botão hambúrguer no PC */
}

#home, #servicos {
  scroll-margin-top: 73px;  /* valor p altura header */
}

#analise, #duvidas, #terapia, #sobre-mim {
  scroll-margin-top: 0;   /* valor p altura header */
}
