
/*=========== HEADER ===========*/

.header-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .1rem .2rem;;
  background-color: var(--azul-escuro);
  margin-top: .15rem;
  border-radius: .5rem;

  position: sticky; /* VER O QUE SIGNIFICA */
  top: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}


/*=========== LOGO ===========*/

.logo-container {
  display: flex;
  padding: .2rem .4rem;
}

.logo-imagem {
  
}


/*=========== NAV ===========*/

.nav-container {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.nav-container ul {
  display: flex;
  gap: 1.3rem;  
  align-content: center;
}

.nav-container li {
  padding: 0 .9rem;  
  color: var(--branco);
  border-radius: .7rem;
  background-color: var(--azul-escuro);
  border: solid 1px var(--azul-gelo);
  transition: transform 0.3s, color 0.3s;
}

.nav-container li:hover {
  
  transform: translateY(-3px);  
  color: var(--azul-escuro); 
  background-color: var(--branco);
  font-weight: 700;
}




/*=========== REDES SOCIAIS ===========*/

.redes-sociais-container {
  display: flex;
  gap: 1.5rem; 
  align-items: center;
  margin-right: 3rem;
}

.social-link {
  text-decoration: none;
  font-size: 2.5rem; 
    /* Tamanho do ícone */
  color: var(--branco);  
  transition: transform 0.3s, color 0.3s;
}

.social-link:hover {
  transform: translateY(-3px); 
    /* O ícone "sobe" um pouquinho */
}

.whatsapp:hover {
  color: #25D366;
}

.instagram:hover {
  color: #E4405F;
}




/*===========  ===========*/




/*===========  ===========*/




/*===========  ===========*/

