


/*
=============================================================
CONTACT
=============================================================
*/



/*
=============================================================
FOOTER - Rodape
=============================================================
*/

.footer-psicologa {
    background-color: #5d6d8e; /* Cor azul acinzentada da imagem */
    color: white;
    padding: 20px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: .3rem;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Garante que em telas pequenas os itens quebrem linha */
    gap: 20px;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 20px;
}

.perfil-logo {

}

.perfil-logo img {
  height: 6.5rem;
   /* tamanho da imagem - logo do footer */
  width: auto; 
  /* Mantém a proporção */
  display: block;
}

.info-texto h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: 500;
    color: var(--branco);
}

.info-texto p {
    margin: 2px 0;
    font-size: 1.1rem;
    opacity: 0.9;
}

.contatos {
    text-align: left;
}

.chamada {
    font-size: 0.9rem;
    margin-bottom: 10px;
    opacity: 0.8;
}

.item-contato {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
    font-size: 1.2rem;
}

/* Estilização responsiva para celulares */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
    .perfil {
        flex-direction: column;
    }
    .contatos {
        text-align: center;
    }
    .item-contato {
        justify-content: center;
    }
}






