
/*=======================================
  TABLET - (de 949px até 768px)
=========================================*/

@media (max-width: 950px) {

  .nav-links ul {
    gap: .7rem;
  }

  .nav-links li {
    padding: 0 .8rem;
  }

  .nav-links a {
    font-size: .8rem;
  }

  

  /* HOME */
  .foto {    
    height: auto;  /* Remove altura fixa */
    max-width: 350px; /* p/ foto não estourar */
  }


  .footer-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem; /* Reduzindo o padding lateral exagerado de 6rem no mobile */
  }

  .perfil {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .perfil-logo img {
    height: 3.5rem;   
  }

}  


/*=======================================
  CELULARES GRANDES - (de 767px até 480px)
=========================================*/

@media (max-width: 768px) {  

  .header-container { 
    display: flex; 
    position: sticky;
    z-index: 999;   
    gap: 15px;
    padding: .2rem 2rem;      
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }   
  
  .menu-mobile-btn {
    display: block; /* Aparece no celular */
    background: none;
    border: 1px solid var(--azul-gelo);
    color: var(--white);
    font-size: 1.8rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1200;   
  }

  .menu-mobile-btn.open {
    border-color: var(--white); 
    color: var(--white);        
  } 

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%; /* Escondido à direita */
    width: 58%;   /* Ajustado p 60% - melhor leitura */
    height: auto;    
    background-color: var(--azul-escuro);
    transition: 0.4s ease-in-out;
    padding-top: 73px; /* Espaço p botão fechar não cobrir os links */
    box-shadow: -5px 0 15px rgba(0,0,0,0.3); 
  }

  .nav-links.active {
    right: 0; 
    /* Desliza para dentro */ 
    display: flex; /* Garante que apareça */   
  }

  .nav-links ul {
    flex-direction: column; /* No celular vira coluna */
  }

  .nav-links li {
    width: 100%; /* No celular, o clique ocupa a linha toda */
    text-align: center;
  }

  .nav-links a {
    /* display: block; */
    /* width: 100%; */
    padding: .5rem 0;
    font-size: 1.2rem;
  }

    
/*=============== HOME ===============*/

  .home-container {
    flex-direction: column;
    padding: 25px 5%;
    /* text-align: center; */
  }

  .foto img {
    height: auto;
    /* height: 400px; */
    width: 270px;
    
  }

  .info-logo {
    /* padding-top: .3rem; */
  }

  .info-pessoais {
    padding-right: 0; 
  }

  .info-pessoais h1 {
    font-size: 1.5rem; 
    margin-top: .8rem;
  }

  .home-btn {
    margin-top: 1rem;     
  }


/*============= SERVICO =============*/

  .ajudar-container h3 {
    /* font-size: 2rem; */
    /* margin: 0 auto; */
    /* padding-top: 2rem; */
  }

  .subtitle {
    font-size: 1.2rem;
    /* text-align: center; */
  }

  .card-servico h4 {
    /* font-size: 1.5rem; */
  }

  .card-servico {
    padding: 1rem 1rem;
    /* min-width: 250px;  */
    max-width: 90%;
  }

  .card-servico p {
    /* font-size: 1.2rem; */
  }

/*============= ANALISE =============*/

  .analise-header {
    width: 98%; 
    /* text-align: center; */
    padding: .8rem .6rem;
    
  }

  .diagnostico {
    width: 98%; 
    text-align: center;
    
  }

  .diagnostico p {
    /* font-size: 1rem; */
    padding: .4rem .2rem;
  }

  .analise-header h2 {
    /* font-size: 1.3rem;     */
  }

  .card-analise {
    padding-left: .8rem;
    /* border-radius: .5rem; */
    width: 98%;
    margin-bottom: 1.5rem;
  }

  .check-item {
    font-size: 1rem; 
    padding-left: 40px; 
    /* margin-bottom: 15px; */
  }

  .checkbox-opcao {
    width: 24px; /* levemente menor p acompanhar texto */
    height: 24px;
  }

/*============= DUVIDAS =============*/
  
  .duvidas-container {
    /* padding: .6rem .2rem; */
  }

  .faq-item {
    width: 95%;
    /* text-align: left;    */
  }

  summary {
    /* padding: 15px 10px;  */
    font-size: 1.1rem;    /* Fonte menor para caber melhor */
    /* text-align: center; */
  }

  summary::after {
    font-size: 1.8rem; /* Diminui ícone de + */
    
  }

  .faq-content {
    padding: 0 0; /* Reduz espaço interno */
    font-size: 1rem; 
    width: 96%;
  }
  

/*========== TERAPIA =============*/

  
/*============ SOBRE-MIM ============*/

  .sobre-mim-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 3rem 0;

    /* gap: 0;      */
  }

  .foto-wrapper {
    width: 300px;  /* Tamanho fixo/proporcional p/ celular */
    height: 400px;
    margin-right: 0;   /* Remove margens desktop */
    margin-bottom: -50px; /* Efeito sobreposição no card de texto */
    z-index: 2;     /* a foto fique acima do card */
    margin-top: 0;
  }

  .foto-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30%; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);  
    border-radius: 1.8rem;  
  }

  .texto-card {
    width: 100%;
    max-width: 100%;
    padding: 80px 25px 40px 25px; 
    display: flex;
    flex-direction: column;
  }

  .texto-card h2 {
    padding-top: 0;
  }

  .texto-principal p {
    text-align: center; 
    /* font-size: 1.2rem; */
  }

  .btn-insta {
    width: fit-content; /* Botão se ajusta ao texto e centraliza */
  }
  

  /*====== WHATSAPP FLUTUANTE ========*/

  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
    font-size: 35px;
  }

  /*============ FOOTER ==============*/
 

  /* Ajuste menor no celular) */
  .back-to-top {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    bottom: 20px;
    left: 20px;
  }

}


/*=======================================
  CELULARES PEQUENOS - (abaixo de 480px)
=========================================*/

@media (max-width: 480px) {  

  .info-texto h2 {
      font-size: 1.5rem;
  }

  .perfil-logo img {
    height: 3.5rem;   
  }

  .card-servico h4 {
    font-size: 1.4rem;
  }

}


/*=======================================
  CELULARES MENORES - (abaixo de 320px)
=========================================*/

@media (max-width: 320px) {  

  .info-texto h2 {
      font-size: 1.5rem;
  }

  .card {
    width: 96%;;
  }
  
}

