
/*=======================================
  TABLET - (de 949px até 768px)
=========================================*/

@media (max-width: 950px) {

  .nav-links ul {
    gap: .7rem;
  }

  .nav-links li {
    padding: 0 .8rem;
  }

  .nav-links a {
    font-size: .8rem;
  }  

  /* HOME */

  .foto {    
    height: auto;  /* Remove altura fixa */
    max-width: 350px; /* p/ foto não estourar */
  }

  .footer-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
  }

  .perfil {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .perfil-logo img {
    height: 3.5rem;   
  }
}  

/*=======================================
  CELULARES GRANDES - (de 767px até 480px)
=========================================*/

@media (max-width: 768px) {  

  .header-container { 
    display: flex; 
    position: sticky;
    z-index: 999;   
    gap: 15px;
    padding: .2rem 2rem;      
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }   
  
  .menu-mobile-btn {
    display: block; /* Aparece no celular */
    background: none;
    border: 1px solid var(--azul-gelo);
    color: var(--white);
    font-size: 1.8rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1200;   
  }

  .menu-mobile-btn.open {
    border-color: var(--white); 
    color: var(--white);        
  } 

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%; /* Escondido à direita */
    width: 58%;   /* Ajustado p x% - melhor leitura */
    height: auto;    
    background-color: var(--azul-escuro);
    transition: 0.4s ease-in-out;
    padding-top: 73px; /* Espaço p botão fechar não cobrir os links */
    box-shadow: -5px 0 15px rgba(0,0,0,0.3); 
  }

  .nav-links.active {
    right: 0; /* Desliza para dentro */ 
    display: flex; /* Garante que apareça */   
  }

  .nav-links ul {
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .nav-links li {
    width: 100%; /* clique ocupa a linha toda */
    text-align: center;    
  }

  .nav-links a {
    padding: .5rem 0;
  }
    
/*=============== HOME ===============*/

  .home-container {
    flex-direction: column;
    padding: 25px 5%;
  }

  .foto img {
    height: auto;
    width: 270px;    
  }

  .info-pessoais {
    padding-right: 0; 
  }

  .info-pessoais h1 {
    font-size: 1.5rem; 
    margin-top: .8rem;
  }

  .home-btn {
    margin-top: 1rem;     
  }

/*============= SERVICO =============*/

  .subtitle {
    font-size: 1.2rem;
  }

  .card-servico {
    padding: 1rem 1rem;
    max-width: 90%;
  }

/*============= ANALISE =============*/

  .analise-header {
    width: 98%; 
    padding: .8rem .6rem;    
  }

  .diagnostico {
    width: 98%; 
    text-align: center;    
  }

  .diagnostico p {
    padding: .4rem .2rem;
  }

  .card-analise {
    padding-left: .8rem;
    width: 98%;
    margin-bottom: 1.5rem;
  }

  .check-item {
    font-size: 1rem; 
    padding-left: 40px; 
  }

  .checkbox-opcao {
    width: 24px; /* levemente menor p acompanhar texto */
    height: 24px;
  }

/*============= DUVIDAS =============*/
  
  .faq-item {
    width: 95%;
  }

  summary {
    font-size: 1.1rem; /* Fonte menor p caber melhor */    
  }

  summary::after {
    font-size: 1.8rem; /* Diminui ícone de + */    
  }

  .faq-content {
    padding: 0 0; /* Reduz espaço interno */
    font-size: 1rem; 
    width: 96%;
  }  
  
/*============ SOBRE-MIM ============*/

  .sobre-mim-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 3rem 0;
  }

  .foto-wrapper {
    width: 300px;  /* Tamanho fixo/proporcional p/ celular */
    height: 400px;
    margin-right: 0;  /* Remove margens desktop */
    margin-bottom: -50px; /* Efeito sobreposição no card de texto */
    z-index: 2;     /* foto fique acima do card */
    margin-top: 0;
  }

  .foto-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30%; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);  
    border-radius: 1.8rem;  
  }

  .texto-card {
    width: 100%;
    max-width: 100%;
    padding: 80px 25px 40px 25px; 
    display: flex;
    flex-direction: column;
  }

  .texto-card h2 {
    padding-top: 0;
  }

  .texto-principal p {
    text-align: center; 
  }

  .btn-insta {
    width: fit-content; /* Botão se ajusta ao texto e centraliza */
  }
  
  /*====== WHATSAPP FLUTUANTE ========*/

  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
    font-size: 35px;
  }

  /*============ FOOTER ==============*/
 
  /* Ajuste menor no celular) */
  .back-to-top {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    bottom: 20px;
    left: 20px;
  }
}

/*=======================================
  CELULARES PEQUENOS - (abaixo de 480px)
=========================================*/

@media (max-width: 480px) {  

  .info-texto h2 {
      font-size: 1.5rem;
  }

  .perfil-logo img {
    height: 3.5rem;   
  }

  .card-servico h4 {
    font-size: 1.4rem;
  }
}

/*=======================================
  CELULARES MENORES - (abaixo de 320px)
=========================================*/

@media (max-width: 320px) {  

  .info-texto h2 {
      font-size: 1.5rem;
  }

  .card {
    width: 96%;;
  }  
}

